# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.*
server/.env.*
client/.env.*
server/node_modules/
client/node_modules/
node_modules/
server/.env
client/.env
enzyme-server/.env
enzyme-server/node_modules/
enzyme-server/dist/

# Docker persistent data
data/

.env